/* Background */
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./images/PhotoFunia-1627559143.jpg');
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url('./images/PhotoFunia-1627559143.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
}



/****************************** calc card **********************/
.calc-card {
  color:var(--primary-color);
  background: var(--light-color);
  margin: 0.7rem 0;
  position: relative;
  max-width: 26rem;
  line-height: 1.6;
  margin-right:1rem;
 }
 .card-head {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background: #ccc;
  padding: 0.2rem
 }
 .card-head input[type="checkbox"]{
  display: none
  }
 .card-head i, .card-head label {
  color:rgb(150,150, 150);
  padding: 0.1rem;
  cursor: pointer;
 }
 .card-head i:hover  {
  color:var(--primary-color);
  opacity: 0.8;
  transition: all 0.1s ease 0s;
 }
 .card-head .remove:hover {
  color:red;
  opacity: 0.7;
  transition: all 0.1s ease 0s;
 }
 .confirm {
 color:var(--primary-color) !important;
 }
 .card-head label {
   margin-right: 0.2rem
 }
 .card-head button {
 border:none;
 padding:0.4rem;
 cursor: pointer;
 }
 .card-head button:focus{
  outline: none
 }
  .card-body{
   padding:1.2rem;
   position: relative;
   display: flex;
   flex-direction: column
 }
 .card-body h2 {
  margin-top:1rem;
  padding: 0
 }

 .badge {
  position: absolute;
  right:0;
  top:0;
  font-size: 0.8rem;
  padding: 0.2rem 1rem;
  text-align: center;
  margin: 0.3rem;
  background: #ccc;
  color: #fff;
  border-radius: 2px;
 }
 .contact {
   display: flex;
   align-items: center
       }
    .contact p {
      font-weight: bold;
    padding: 0 0.5rem
  }
