* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.7;
  /* There's a brief flicker between bg images.
     Put background as dark purp1e so it blends well with everything else. 
     EDIT TO ADD: I changed it so there's only one bg and color changes 
       by linear-gradient. Keeping it anyway. */
  background: #210127;
}

.form-group,
.form-group label,
.form-group input {
  width: 100%;
  margin-bottom: 0.5rem;
}

.form-group label {
  font-size: 0.8rem;
}

.form-group input {
  padding: 10px 20px;
  border: none;
  border-bottom: 3px solid transparent;
  background-color: #eee;
  outline-width: 0;
  font-size: 1rem;
}

.form-group input:focus {
  border-bottom: 3px solid coral;
}

.btn {
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  border: none;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: pink;
  color: #fff;
}

/* These appear INSIDE the form. */
.login-screen__error-message,
.register-screen__error-message {
  width: 100%;
  display: inline-block;
  padding: 5px;
  background: red;
  color: #fff;
  text-align: center;
  margin: 0.5rem 0;
}

/* These appear BELOW the form. */
.forgotpassword__error-message,
.resetpassword__error-message {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  display: inline-block;
  padding: 5px;
  background: red;
  color: #fff;
  text-align: center;
  margin: 0.5rem 0;
}

.forgotpassword__success-message,
.resetpassword__success-message {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  display: inline-block;
  padding: 5px;
  background: green;
  color: #fff;
  text-align: center;
  margin: 0.5rem 0;
}

@media (max-width: 380px) {
  .resetpassword__success-message{
    bottom: -80px;
  }
}
