html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font: 100 14px 'Roboto';
}

button {
  display: block;
  background: none;
  border: none;
  padding: 0;
  font-family: inherit;
  user-select: none;
  cursor: pointer;
  outline: none;
  
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

button:active {
  box-shadow: inset 0px 0px 80px 0px rgba(0,0,0,0.25);
}

#wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
  width: 320px;
  height: 520px;
  position: relative;
}

.calculator {
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  flex-direction: column;
}

#wrapper .calculator {
  /* border: 1px solid #fff; */ /*❓border ruins layout.*/
  font-family: 'Negotiate Free', sans-serif !important;
  border-radius: 8px;
  box-shadow: 
  0 4px 2rem #ff00ff,
    0 4px 1rem #eb24eb,
    0 4px 2.8rem #ad00ad;
  }
  
  .calculator-display {
  color: white;
  background: #1c191c;
  line-height: 120px;
  margin-bottom: 120px; /*🤪No idea why line height wasn't good enough. CSS is the debbil.*/
  font-size: 6em;
  flex: 1;
  font-family: 'Rational Integer', sans-serif;
}

.auto-scaling-text {
  display: inline-block;
}

.calculator-display .auto-scaling-text {
  padding: 0 30px;
  position: absolute;
  right: 0;
  transform-origin: right;
}

.calculator-keypad {
  height: 400px;
  display: flex;
}

.calculator .input-keys {
  width: 240px;
}

.calculator .function-keys {
  display: flex;
}

.calculator .digit-keys {
  background: #e0e0e7;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

.calculator-key {
  width: 80px;
  height: 80px;
  border: 1px solid #fff;
  text-align: center;
  line-height: 80px;
}
.calculator .function-keys .calculator-key {
  color: #fff;
  font-size: 2em;
}
.calculator .function-keys .key-multiply {
  line-height: 50px;
}
.calculator .digit-keys .calculator-key {
  font-size: 2.25em;
}
.calculator .digit-keys .key-0 {
  width: 160px;
  text-align: left;
  padding-left: 32px;
}
.calculator .digit-keys .key-dot {
  padding-top: 1em;
  font-size: 0.75em;
}
.calculator .operator-keys .calculator-key {
  color: white;
  font-size: 3em;
}

.calculator-title__original {
  -webkit-text-stroke: 3px azure;
  color: transparent;
  position: absolute;
  transform: translate(-50%, -50%);
  top: -8%;
  left: 50%;
  font-size: 3.5em;
  font-family: 'Old Republic', sans-serif;
  background-image: linear-gradient(
    to bottom,
    #fff 50%,
    #ff00ff 60%,
    #b842b8 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}



/* BUTTONS ==================================================================== */

.key-clear,
.key-sign,
.key-percent {
  background-color: #460046;
  -webkit-transition: background-color 0.4s ease-out;
  -moz-transition: background-color 0.4s ease-out;
  -o-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
  -ms-transition: background-color 0.4s ease-out;
}

.key-clear:hover,
.key-sign:hover,
.key-percent:hover {
  background-color: #940094;
}

.key-0,
.key-dot,
.key-1,
.key-2,
.key-3,
.key-4,
.key-5,
.key-6,
.key-7,
.key-8,
.key-9 {
  background-color: #ff98aa;
  -webkit-transition: background-color 0.4s ease-out;
  -moz-transition: background-color 0.4s ease-out;
  -o-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
}

.key-0:hover,
.key-dot:hover,
.key-1:hover,
.key-2:hover,
.key-3:hover,
.key-4:hover,
.key-5:hover,
.key-6:hover,
.key-7:hover,
.key-8:hover,
.key-9:hover {
  background-color: #ffc0cb;
}

.key-divide,
.key-multiply,
.key-subtract,
.key-add,
.key-equals {
  background-color: #a000a0;
  -webkit-transition: background-color 0.4s ease-out;
  -moz-transition: background-color 0.4s ease-out;
  -o-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
}

.key-divide:hover,
.key-multiply:hover,
.key-subtract:hover,
.key-add:hover,
.key-equals:hover {
  background-color: #ff00ff;
}