.forgotpassword-screen__calculator-title {
  -webkit-text-stroke: 3px azure;
  color: transparent;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 20%;
  left: 50%;
  font-size: 3.5em;
  font-family: 'Old Republic', sans-serif;
  background-image: linear-gradient(
    to bottom,
    white 50%,
    #1f1bff 60%,
    #8c8aff 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.forgotpassword-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Negotiate Free', sans-serif;
  font-size: 1.5rem;
  color: #fff;
}

.forgotpassword-screen__form {
  width: 420px;
  padding: 1.5rem;
  background: #020120;
  box-shadow: 0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 2rem #2bb1ff,
  0 0 0.8rem #6909d6,
  0 0 2.8rem #1f1bff,
  inset 0 0 1.3rem #1f1bff;
}

.forgotpassword-screen__title {
  text-align: center;
  margin-bottom: 1rem;
}

.forgotpassword-screen__subtext {
  font-size: 0.9rem;
  display: block;
  margin: 0.5rem 0;
}

.forgotpassword-screen__form .btn-primary {
  margin-top: 15px;
  background-color: #0e0bb1;
  border: 1px solid #fff;
  word-spacing: 0.3rem;
  font-size: 1.3rem;
}

.forgotpassword-screen__form input[type="email"],
.forgotpassword-screen__form input::placeholder {
  color: #7877cf;
  background-color: #131181;
}

.forgotpassword-screen__form input:focus,
.forgotpassword-screen__form input:focus::placeholder {
  color: #d9d9ff;
  background-color: #472ed4;
}

.forgotpassword-screen__form a {
  color: #1594e9;
}