.login-screen__calculator-title {
  -webkit-text-stroke: 3px azure;
  color: transparent;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 20%;
  left: 50%;
  font-size: 3.5em;
  font-family: 'Old Republic', sans-serif;
  background-image: linear-gradient(
    to bottom,
    white 50%,
    #52006b 60%,
    #f333c9 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.login-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Negotiate Free', sans-serif;
  font-size: 1.5rem;
  color: #fff;
}

.login-screen__form {
  width: 420px;
  padding: 1.5rem;
  background: #1f0120;
  box-shadow: 0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 2rem #ff8fda,
  0 0 0.8rem #ca4da1,
  0 0 2.8rem #ff1db4,
  inset 0 0 1.3rem #ff8fda;
}

.login-screen__title {
  text-align: center;
  margin-bottom: 1rem;
}

.login-screen__forgotpassword {
  font-size: 0.7rem;
}

.login-screen__subtext {
  font-size: 0.9rem;
  display: block;
  margin: 0.5rem 0;
}

.login-screen__form .btn-primary {
  margin-top: 15px;
  background-color: #ff1db4;
  border: 1px solid #fff;
  word-spacing: 0.3rem;
  font-size: 1.3rem;
}

.login-screen__form input[type="email"],
.login-screen__form input[type="password"],
.login-screen__form input::placeholder {
  color: #ca4da1;
  background-color: #6e2957;
}

.login-screen__form input:focus,
.login-screen__form input:focus::placeholder {
  color: #ffddf4;
  background-color: #ca4da1;
}

.login-screen__form a {
  color: #ff1db4;
}