.login-screen__calculator-title {
  padding-top: 100px; /*Space for the header. Pushes down the rest of the app.*/
  text-align: center;
  font-size: 3.5rem;
  font-family: 'Old Republic', sans-serif;
  color: transparent;
  -webkit-text-stroke: 3px #ffc7fa;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    to bottom,
    white 75%,
    #52006b 80%,
    #f333c9 85%
  );
}

.login-screen {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Negotiate Free', sans-serif;
  font-size: 1.5rem;
  color: #fff;
}

.login-screen__form {
  width: 380px;
  padding: 1.5rem;
  background: #1f0120;
  box-shadow: 0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 2rem #ff8fda,
  0 0 0.8rem #ca4da1,
  0 0 2.8rem #ff1db4,
  inset 0 0 1.3rem #ff8fda;
}

.login-screen__title {
  text-align: center;
  margin-bottom: 1rem;
}

.login-screen__forgotpassword {
  font-size: 0.7rem;
}

.login-screen__subtext {
  font-size: 0.9rem;
  display: block;
  margin: 0.5rem 0;
}

.login-screen__form .btn-primary {
  margin-top: 15px;
  background-color: #ff1db4;
  border: 1px solid #fff;
  word-spacing: 0.3rem;
  font-size: 1.3rem;
}

.login-screen__form input[type="email"],
.login-screen__form input[type="password"],
.login-screen__form input::placeholder {
  color: #ca4da1;
  background-color: #6e2957;
}

.login-screen__form input:focus,
.login-screen__form input:focus::placeholder {
  color: #ffddf4;
  background-color: #ca4da1;
}

.login-screen__form a {
  color: #ff1db4;
}



/* Media queries. ============================================================= */
@media (max-width: 600px) {
  .login-screen__calculator-title {
    -webkit-text-stroke: 2px #ffc7fa;
    font-size: 3rem;
  }
}

@media (max-width: 480px) {
  .login-screen__calculator-title {
    font-size: 2.4rem;
  }
  .login-screen__form {
    width: 360px;
  }
}

@media (max-width: 380px) {
  .login-screen__calculator-title {
    -webkit-text-stroke: 1px #ffc7fa;
    font-size: 1.9rem;
    background-image: linear-gradient(
      to bottom,
      white 81%,
      #52006b 86%,
      #f333c9 90%
    );
  }
  .login-screen__form {
    width: 320px;
  }
}
