.logout-button {
  margin-top: 10px;
  width: 320px;
  color: #fff;
  font-size: 2rem;
  background-color: #1c191c;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: background-color 0.6s ease-out, font-size 0.5s ease-out;
  padding: 10px 0;
  font-family: 'PT Sans', sans-serif;
}

.logout-button:hover {
  font-size: 2.25rem;
  background-color: #ff1037;
  animation: glow 2s infinite;
  -webkit-animation: glow 2s infinite;
}

.logout-button:focus {
  background-color: #f51b3f;
  font-weight: bold;
  word-spacing: 0.4rem;
  letter-spacing: 2px;
}

@keyframes glow {
  50% {
    box-shadow: 0 0 30px #ff00ff;
  }
}