.resetpassword-screen__calculator-title {
  padding-top: 110px;
  text-align: center;
  font-size: 3.5rem;
  font-family: 'Old Republic', sans-serif;
  color: transparent;
  -webkit-text-stroke: 3px #dfffff;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    to bottom,
    white 75%,
    #1f1bff 80%,
    #8c8aff 85%
  );
}

.resetpassword-screen {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Negotiate Free', sans-serif;
  font-size: 1.5rem;
  color: #fff;
}

.resetpassword-screen__form {
  position: relative;
  width: 380px;
  padding: 1.5rem;
  background: #020120;
  box-shadow: 0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 2rem #2bb1ff,
  0 0 0.8rem #6909d6,
  0 0 2.8rem #1f1bff,
  inset 0 0 1.3rem #1f1bff;
}

.resetpassword-screen__title {
  text-align: center;
  margin-bottom: 1rem;
}

.resetpassword-screen__subtext {
  font-size: 0.9rem;
  display: block;
  margin: 0.6rem 0;
}

.resetpassword-screen__form .btn-primary {
  margin-top: 15px;
  background-color: #0e0bb1;
  border: 1px solid #fff;
  word-spacing: 0.3rem;
  font-size: 1.3rem;
}

.resetpassword-screen__form .btn-primary:focus {
  background-color: #100cf0;
  font-weight: bold;
  word-spacing: 0.4rem;
  letter-spacing: 2px;
}

.resetpassword-screen__form input[type="password"],
.resetpassword-screen__form input::placeholder {
  color: #7877cf;
  background-color: #131181;
}

.resetpassword-screen__form input:focus {
  color: #d9d9ff;
  background-color: #262aff;
  border: 2px solid #fff;
}

.resetpassword-screen__form input:focus::placeholder {
  color: #d9d9ff;
  background-color: #262aff;
}

.resetpassword-screen__form a {
  color: #1594e9;
}



/* Media queries. ============================================================= */
@media (max-width: 600px) {
  .resetpassword-screen__calculator-title {
    -webkit-text-stroke: 2px #dfffff;
    font-size: 3rem;
  }
}

@media (max-width: 480px) {
  .resetpassword-screen__calculator-title {
    font-size: 2.4rem;
  }
  .resetpassword-screen__form {
    width: 360px;
  }
}

@media (max-width: 380px) {
  .resetpassword-screen__calculator-title {
    -webkit-text-stroke: 1px #dfffff;
    font-size: 1.9rem;
    background-image: linear-gradient(
      to bottom,
      white 81%,
      #1f1bff 86%,
      #8c8aff 90%
    );  
  }
  .resetpassword-screen__form {
    width: 320px;
  }
}
